.container {
    @extend %container;
    .header & {
        display: flex;
        align-items: center;
    }
    .footer & {
        display: flex;
    }
    .hero & {
        @extend %flexCenter;
        flex-direction: column;
    }
}