.contact {
    display: inline-flex;
    align-items: center;

    &__item {
        display: inline-flex;
    } 

    &__link {
        display: inline-flex;
        align-items: center;
        @include styledFonts(500, 14px, 0.875, --color-silver);
        letter-spacing: 0.02em;
        fill: var(--color-silver);
        transition: color 250ms ease-in-out, fill 250ms ease-in-out;
    }

    &__link:hover,
    &__link:focus,
    &__link:focus-visible {
        color: var(--color-blue);
        outline: none;
    }

    &__icon {
        display: inline-block;
    }

    &__link:hover &__icon,
    &__link:focus &__icon,
    &__icon:focus-visible &__icon{
        fill: var(--color-blue);
    }
    
}