.footer {
    padding: 60px 0;
    background-color:  #2F303A;
    &__box {
        display: flex;
        gap: 70px;
    }
    &__title {
        margin-top: 12px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-white);
    }
    &__address {
        font-style: normal;
    }
}

.address {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--color-white);
}