@mixin styledFonts ($weight, $size, $height, $color: null) {
    font-weight: $weight;
    font-size: $size,;
    line-height: $height;
    @if ($color != null) {
        color: var($color);
    }
    
}

@mixin flexList ($gap) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
}