%container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

%resetList {
    margin: 0;
    padding: 0;
}

%resetLink {
    text-decoration: none;
}

%resetListItem {
    list-style: none;
}

%resetButton {
    padding: 0;
    border: 0;
}

%flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

%visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}