:root {
    --color-black: #000;
    --color-white: #fff;
    --color-silver: #757575;
    --color-dark-green: #212121;
    --color-white-smoke: #F5F5F5;
    --color-white-solid: #F5F4FA;
    --color-blue: #2196F3;
    --color-bright-gray: #ECECEC;
    --color-solid-green: #AFB1B8;
    --color-silver-sand:#C4C4C4;
}